# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# TEAMS

# Map Maintainers
/_maps/ @MrCat15352

# Sprite Maintainers
/icons/ @MrCat15352

# CI and tool chains
/tools/ @MrCat15352



# MAINTAINERS

# MrCat15352 YohAnGREAT

/config/ @MrCat15352 @YohAnGREAT
/data/ @MrCat15352 @YohAnGREAT
/SQL/ @MrCat15352 @YohAnGREAT
/tools/ @MrCat15352 @YohAnGREAT
/.github/  @MrCat15352 @YohAnGREAT
/bin/  @MrCat15352 @YohAnGREAT
/html/  @MrCat15352 @YohAnGREAT
/strings/  @MrCat15352 @YohAnGREAT
/tgui/  @MrCat15352 @YohAnGREAT
/code/modules/unit_tests/  @MrCat15352 @YohAnGREAT

# CONTRIBUTORS


# MULTIPLE OWNERS


# ALL CHANGES
* @MrCat15352 @YohAnGREAT
